* {
    padding: 0;
    margin: 0;
    font-family: "Mukta", sans-serif;
}

body {
    background: #f1f1f1;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    height: 70px;
    background: #66411f96;
    backdrop-filter: blur(19.5px);
    justify-content: right;
    position: fixed ;
    border-bottom: 1px solid white;
    z-index: 10;
}

.borda {
    display: flex;
    margin-right: 160px;
    border: 1px solid #ffffff;
    border-radius: 15px 15px 15px 15px;
    justify-content: space-around;
    width: 1200px;
    margin-bottom: 19px;
    align-items: center;
    height: 30px;
    padding: 1.5px;
}

.menuItem {
    text-decoration: none;
    list-style: none;
    align-items: end;
    color: aliceblue;
}

.linkMenu {
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu:hover {
    background: #ffffff;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 90px;
    height: 90px;
    color: #66411f;
}

.linkMenu1 {
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu1:hover {
    background: #ffffff;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 110px;
    margin-right: 30px;
    height: 20px;
    color: #66411f;
}

.linkMenu2 {
    text-decoration: none;
    list-style: none;
    margin-right: 25px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu2:hover {
    background: #ffffff;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 70px;
    margin-right: 25px;
    height: 20px;
    color: #66411f;
}

.barra {
    color: #eeeeee;
    margin-bottom: 15px;
    margin-right: 10px;
}

.logo {
    width: 70px;
    margin-right: 225px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.titulo {
    font-size: 20px;
    margin-right: 150px;
    color: #eeeeee;
    margin-bottom: 25px;
}


.container {
    display: flex;
    width: 100%;
    height: 609px;
    justify-content: center;
    flex-direction: row;
}

button{
    width: 110px;
    color: white;
    background-color: #66411f;
    font-size: 17px;
    font-weight: bold;
    border-color: grey;
    border-radius: 50px;
}

.containerP {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


.p1 {
    margin-top: 50px;
    font-size: 70px;
    font-family: "Mukta", sans-serif;
    color: #66411f;
    margin-left: 30px;
}

.p2 {
    font-size: 170px;
    font-family: "Mukta", sans-serif;
    color: #66411f;
    margin-top: -100px;
    margin-left: 35px;
}

.pTexto {
    font-size: 25px;
    margin-left: 15px;
}


.h1Assunto1 {
    margin-top: 35px;
    text-align: center;
    margin-right: 68px;
    font-family: "Mukta", sans-serif;
    color: #eeeeee;
    /* margin-bottom: -80px; */
}
.um{
    padding: 2%;
    text-align: justify;
    text-justify: inter-word;
}
.dois{
    padding: 2%;
    text-align: justify;
    text-justify: inter-word;
}
#containerDesafios{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #66411f;
    padding-top: 30px;
    height: 560px;
}
.Passunto1{
    color: #66411f;
    width: 96%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #66411f;
    padding: 2%;
    height: 300px;
    text-align: justify;
    text-justify: inter-word;
    justify-content: space-evenly;
}

.botão{
    margin-right: 80px;
}
.botão .btquest1{
    width: auto;
    height: 30px;
    font-size: medium;
    font-weight: bold;
    color: #66411f;
    background-color: white;
}
#containerAssunto2{
    color: #66411f;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 3%;

}
.Passunto2{
    color: #66411f;
    font-size: medium;
    text-align: justify;
    text-justify: inter-word;
}
.h1Assunto2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #66411f;
    width: 620px;
}
#big{
    width: 92%;
    height: 600px;
    padding-left: 3%;
    margin-top: 3%;
    left: 5%;
    display: flex;
    flex-direction: row;
    position:solid absolute;
    padding-bottom: 50px;
}
.bigtrail{
    width: 400px;
    height: 500px;
    padding: 7.5% 1% 3% 5%;
    position:solid absolute;
}
#containerAssunto3{
    background-color: #66411f;
    padding: 5% 15% 10% 15%;
    height: 1000px;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 20px;
}
.botão2{
    margin-top: 30px;
    height: 50px;
    margin-left: 370px;
    width: auto;
}
.btquest2{
    width: auto;
    height: 30px;
    font-size: medium;
    font-weight: bold;
    color: #66411f;
    background-color: #ffffff;
}

.h1Assunto3{
    color: white;
    margin-left: 60px;
}
.Passunto3{
font-size: larger;
}
.h1Assunto4{
    margin-top: 50px;
    color: #66411f;
}

#containerAssunto4{
    color: #66411f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1600px;
}

.Passunto4{
    width: 750px;
    margin-top:50px;
    text-align: justify;
    text-justify: inter-word;
    color: #66411f;
    font-size: larger;
}
.btquest3{
    width: auto;
    height: 30px;
    font-size: medium;
    font-weight: bold;
    color: #ffffff;
    background-color: #66411fed;
}

#eletrica{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 15px;
    margin-top: 0px ;
    
}
.comparar h2{
    padding: 0px 30px 0px 30px;
    font-size: 20px;
    color: #66411f; 
    /* font-size: x-large; */
}
.comparar button{
    width: 100px;
    color: white;
    background-color: #66411f;
    font-size: 17px;
    font-weight: bold;
    border-color: grey;
}
.comparar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 120px;
    font-size: x-small;
    border: 4px solid #66411fe8;
    border-radius: 20px;
    background-color: #ffffff;
}

.h1SobreNos {
    text-align: center; 
    margin-right: 68px;
    font-size: 45px;
    font-family: "Mukta", sans-serif;
    color: #eeeeee;
    margin-bottom: 30px;
}
#contSobre{
    background: #66411f;
    height: 450px;
    width: 100%;
    padding-top: 60px;
}
#containerSobre {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

img{
    width: 1343px;
}

p{
    color: #eeeeee;
}

.barraSobre{
    color: #eeeeee;
    height: 250px;
    background: #eeeeee;
    width: 4px;
}

.footer {
    left: -50px;
    background: rgba(163, 161, 212, 0.788);
    backdrop-filter: blur(19.5px);
    padding: 10px 0px;
    padding-right: 50px;

    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: rgb(17, 11, 11);
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.footer .row a:hover {
    color:#66411f;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

.row1 a {
    text-decoration: none;    
    color: #66411f;
    transition: 400ms;
}

.row1 a:hover {
    color: #000;
}

.row1 a i {
    font-size: 1.3em;
    margin: 0% 1%;
    padding-left: 20%;

}

#equipe{
    width: 100%;
    height: 550px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloEquipe{
    display: flex;
    justify-content: center;
    font-family: "Mukta", sans-serif;
    font-size: 45px;
    color: #66411f;
}

#containerEquipe{
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#Sobremim{
display: flex;
justify-content: flex-end;
align-items: center;
flex-direction: column;
width: 500px;
height: 250px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Sobremim p{
    color: #66411f;
    text-align: justify;
    text-justify: inter-word;
}

#Sobremim h1{
    color: #66411f;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: #66411f 0px 2px 0px 0px;
    transition: 400ms;
    margin-bottom: 20px;
}

.imgEquipe{
    width: 250px;
    height: 350px;
    box-shadow: #66411f 1px 1px 5px 5px;
    transition: 400ms;
}

.imgEquipe:hover{
    opacity: 0.6;
}

.tituloCard{
    font-family: "Mukta", sans-serif;
    color: #66411f;
}

.funcaoEquipe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: #777777;
}

/*CSS do carrossel*/
    
.carousel-container {
    position: relative;
    width: 600px;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
}

.carousel {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.carousel-slide {
    min-width: 610px;
    height: 430px;
    overflow: hidden;
}

.carousel-slide img {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    transform: translateY(-50%);
    margin-top: -22px;
    color: black;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(129, 129, 129, 0.8);
}

.carousel-caption{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.contact-card {
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    box-shadow: 0 10px 20px #66411f;
    padding: 30px;
    max-width: 400px;
    width: 90%;
    margin: 20px;
}

#contato{
 padding-top: 60px;
 display: flex;
 justify-content: center;
 background-color: #66411f;
}

.contact-card h2 {
    margin-top: 0;
    color: #66411f;
    font-size: 24px;
    text-align: center;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
}

#contact{
    height: 400px;
    display: flex;
    flex-direction: column;
}

.contact-card label {
    margin: 15px 0 5px;
    color: #66411f;
    font-weight: bold;
}

.contact-card input,
.contact-card textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    width: 100%;
}

.contact-card input:focus,
.contact-card textarea:focus {
    outline: none;
    border-color: #66411f;
    box-shadow: 0 0 5px rgba(102, 65, 31,0.5);
}

.contact-card button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #66411f;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.contact-card button:hover {
    background-color: #ffffffe0;
    color: #66411f;
}