
html,
body {
    color: white;
    background-color: #66411f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1175px;
    width: 100%;
}


.menu {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    height: 65px;
    background: #66411fa2;
    backdrop-filter: blur(19.5px);
    justify-content: right;
    border-bottom: 1px solid white;
    font-family: "Mukta", sans-serif;
    font-size:small;

}

.borda {
    display: flex;
    margin-right: 130px;
    border: 1px solid #ffffff;
    border-radius: 15px 15px 15px 15px;
    justify-content: space-around;
    width: 1250px;
    margin-bottom: 19px;
    align-items: center;
    height: 30px;
}

.menuItem {
    text-decoration: none;
    list-style: none;
    align-items: end;
    color: aliceblue;
}

.linkMenu {
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu:hover {
    background: #ffffff;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 90px;
    height: 90px;
    color: #66411f;
}

.linkMenu1 {
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu1:hover {
    background: #ffffff;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 110px;
    margin-right: 30px;
    height: 20px;
    color: #66411f;
}

.linkMenu2 {
    text-decoration: none;
    list-style: none;
    margin-right: 25px;
    margin-bottom: 23px;
    color: aliceblue;
    transition: 400ms;
}

.linkMenu2:hover {
    background: #ffffff;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    width: 70px;
    margin-right: 25px;
    height: 20px;
    color: #66411f;
}

.barra {
    color: #eeeeee;
    margin-bottom: 15px;
    margin-right: 10px;
}

.logo {
    width: 70px;
    margin-right: 250px;
    margin-bottom: 15px;
    margin-left: 20px;
}

   
.carousel-container {
    position: relative;
    width: 45%;
    margin: auto;
    overflow: hidden;
    border: 5px solid #492f17;
    padding-bottom: 15px;
    font-family: "Mukta", sans-serif;
    font-size: smaller;

}

.carousel {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.carousel-slide {
    min-width: 610px;
    height: 430px;
    overflow: hidden;
}

.carousel-slide img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-top: 5px solid #492f17;
    border-bottom: 5px solid #492f17;

}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    transform: translateY(-50%);
    margin-top: -22px;
    color: black;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(129, 129, 129, 0.8);
}

.carousel-caption{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
}

#map {
    /* height: 400%; */
    border: 5px solid #492f17;
    height: 35%;
    width: 75%;
    margin-bottom: 40px;

}
